NET "clk" LOC = E3 | IOSTANDARD = LVCMOS33;
NET "clk" PERIOD = 10 ns HIGH 5 ns;

NET "vga_h_sync" LOC = L14 | IOSTANDARD = LVCMOS33 | TIG;
NET "vga_v_sync" LOC = K3 | IOSTANDARD = LVCMOS33 | TIG;

NET "vga_R<3>" LOC = R1 | IOSTANDARD = LVCMOS33 | TIG;
NET "vga_R<2>" LOC = R2 | IOSTANDARD = LVCMOS33 | TIG;
NET "vga_R<1>" LOC = R3 | IOSTANDARD = LVCMOS33 | TIG;
NET "vga_R<0>" LOC = R5 | IOSTANDARD = LVCMOS33 | TIG;

NET "vga_G<3>" LOC = M3 | IOSTANDARD = LVCMOS33 | TIG;
NET "vga_G<2>" LOC = N1 | IOSTANDARD = LVCMOS33 | TIG;
NET "vga_G<1>" LOC = N2 | IOSTANDARD = LVCMOS33 | TIG;
NET "vga_G<0>" LOC = P2 | IOSTANDARD = LVCMOS33 | TIG;

NET "vga_B<3>" LOC = L3 | IOSTANDARD = LVCMOS33 | TIG;
NET "vga_B<2>" LOC = L1 | IOSTANDARD = LVCMOS33 | TIG;
NET "vga_B<1>" LOC = M2 | IOSTANDARD = LVCMOS33 | TIG;
NET "vga_B<0>" LOC = M1 | IOSTANDARD = LVCMOS33 | TIG;