NET "Clk_100M" LOC = E3 | IOSTANDARD = LVCMOS33;
NET "Clk_100M" PERIOD = 10 ns HIGH 5 ns;

NET "BUTTONS<0>" LOC = V10 | IOSTANDARD = LVCMOS33 | TIG; //dOWN
NET "BUTTONS<1>" LOC = F15 | IOSTANDARD = LVCMOS33 | TIG;//UP
NET "BUTTONS<2>" LOC = E16 | IOSTANDARD = LVCMOS33 | TIG;//MIDDLE
NET "BUTTONS<3>" LOC = T16 | IOSTANDARD = LVCMOS33 | TIG;//LEFT
NET "BUTTONS<4>" LOC = R10 | IOSTANDARD = LVCMOS33 | TIG;//RIGHT

NET "RGB<0>" LOC = A3 | IOSTANDARD = LVCMOS33 | TIG;
NET "RGB<1>" LOC = B4 | IOSTANDARD = LVCMOS33 | TIG;
NET "RGB<2>" LOC = C5 | IOSTANDARD = LVCMOS33 | TIG;
NET "RGB<3>" LOC = A4 | IOSTANDARD = LVCMOS33 | TIG;
NET "RGB<4>" LOC = C6 | IOSTANDARD = LVCMOS33 | TIG;
NET "RGB<5>" LOC = A5 | IOSTANDARD = LVCMOS33 | TIG;
NET "RGB<6>" LOC = B6 | IOSTANDARD = LVCMOS33 | TIG;
NET "RGB<7>" LOC = A6 | IOSTANDARD = LVCMOS33 | TIG;
NET "RGB<8>" LOC = B7 | IOSTANDARD = LVCMOS33 | TIG;
NET "RGB<9>" LOC = C7 | IOSTANDARD = LVCMOS33 | TIG;
NET "RGB<10>" LOC = D7 | IOSTANDARD = LVCMOS33 | TIG;
NET "RGB<11>" LOC = D8 | IOSTANDARD = LVCMOS33 | TIG;

NET "hsync" LOC = B11 | IOSTANDARD = LVCMOS33 | TIG;
NET "vsync" LOC = B12 | IOSTANDARD = LVCMOS33 | TIG;

NET "SW0" LOC = U9 | IOSTANDARD = LVCMOS33 | TIG;
NET "SW15" LOC = P4 | IOSTANDARD = LVCMOS33 | TIG;
NET "LD0" LOC = T8 | IOSTANDARD = LVCMOS33 | TIG;