//! **************************************************************************
// Written by: Map P.20131013 on Mon May 23 20:08:31 2016
//! **************************************************************************

SCHEMATIC START;
COMP "vsync" LOCATE = SITE "B12" LEVEL 1;
COMP "SW0" LOCATE = SITE "U9" LEVEL 1;
COMP "SW15" LOCATE = SITE "P4" LEVEL 1;
COMP "Clk_100M" LOCATE = SITE "E3" LEVEL 1;
COMP "hsync" LOCATE = SITE "B11" LEVEL 1;
COMP "BUTTONS<0>" LOCATE = SITE "V10" LEVEL 1;
COMP "LD0" LOCATE = SITE "T8" LEVEL 1;
COMP "BUTTONS<2>" LOCATE = SITE "E16" LEVEL 1;
COMP "BUTTONS<1>" LOCATE = SITE "F15" LEVEL 1;
COMP "BUTTONS<4>" LOCATE = SITE "R10" LEVEL 1;
COMP "BUTTONS<3>" LOCATE = SITE "T16" LEVEL 1;
COMP "RGB<11>" LOCATE = SITE "D8" LEVEL 1;
COMP "RGB<10>" LOCATE = SITE "D7" LEVEL 1;
COMP "RGB<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "RGB<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "RGB<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "RGB<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "RGB<4>" LOCATE = SITE "C6" LEVEL 1;
COMP "RGB<5>" LOCATE = SITE "A5" LEVEL 1;
COMP "RGB<6>" LOCATE = SITE "B6" LEVEL 1;
COMP "RGB<7>" LOCATE = SITE "A6" LEVEL 1;
COMP "RGB<8>" LOCATE = SITE "B7" LEVEL 1;
COMP "RGB<9>" LOCATE = SITE "C7" LEVEL 1;
NET "Clk_100M_BUFGP/IBUFG" PERIOD = 10 ns HIGH 5 ns;
PIN RGB_11_OBUF_pins<1> = BEL "RGB_11_OBUF" PINNAME OUT;
PIN RGB_10_OBUF_pins<1> = BEL "RGB_10_OBUF" PINNAME OUT;
PIN RGB_9_OBUF_pins<1> = BEL "RGB_9_OBUF" PINNAME OUT;
PIN RGB_8_OBUF_pins<1> = BEL "RGB_8_OBUF" PINNAME OUT;
PIN RGB_7_OBUF_pins<1> = BEL "RGB_7_OBUF" PINNAME OUT;
PIN RGB_6_OBUF_pins<1> = BEL "RGB_6_OBUF" PINNAME OUT;
PIN RGB_5_OBUF_pins<1> = BEL "RGB_5_OBUF" PINNAME OUT;
PIN RGB_4_OBUF_pins<1> = BEL "RGB_4_OBUF" PINNAME OUT;
PIN RGB_3_OBUF_pins<1> = BEL "RGB_3_OBUF" PINNAME OUT;
PIN RGB_2_OBUF_pins<1> = BEL "RGB_2_OBUF" PINNAME OUT;
PIN RGB_1_OBUF_pins<1> = BEL "RGB_1_OBUF" PINNAME OUT;
PIN RGB_0_OBUF_pins<1> = BEL "RGB_0_OBUF" PINNAME OUT;
PIN hsync_OBUF_pins<1> = BEL "hsync_OBUF" PINNAME OUT;
PIN vsync_OBUF_pins<1> = BEL "vsync_OBUF" PINNAME OUT;
PIN LD0_OBUF_pins<1> = BEL "LD0_OBUF" PINNAME OUT;
PIN BUTTONS<4>_pins<0> = BEL "BUTTONS<4>" PINNAME PAD;
PIN BUTTONS<3>_pins<0> = BEL "BUTTONS<3>" PINNAME PAD;
PIN BUTTONS<2>_pins<0> = BEL "BUTTONS<2>" PINNAME PAD;
PIN BUTTONS<1>_pins<0> = BEL "BUTTONS<1>" PINNAME PAD;
PIN BUTTONS<0>_pins<0> = BEL "BUTTONS<0>" PINNAME PAD;
PIN SW0_pins<0> = BEL "SW0" PINNAME PAD;
PIN SW15_pins<0> = BEL "SW15" PINNAME PAD;
PIN "RGB_11_OBUF_pins<1>" TIG;
PIN "RGB_10_OBUF_pins<1>" TIG;
PIN "RGB_9_OBUF_pins<1>" TIG;
PIN "RGB_8_OBUF_pins<1>" TIG;
PIN "RGB_7_OBUF_pins<1>" TIG;
PIN "RGB_6_OBUF_pins<1>" TIG;
PIN "RGB_5_OBUF_pins<1>" TIG;
PIN "RGB_4_OBUF_pins<1>" TIG;
PIN "RGB_3_OBUF_pins<1>" TIG;
PIN "RGB_2_OBUF_pins<1>" TIG;
PIN "RGB_1_OBUF_pins<1>" TIG;
PIN "RGB_0_OBUF_pins<1>" TIG;
PIN "hsync_OBUF_pins<1>" TIG;
PIN "vsync_OBUF_pins<1>" TIG;
PIN "LD0_OBUF_pins<1>" TIG;
PIN "BUTTONS<4>_pins<0>" TIG;
PIN "BUTTONS<3>_pins<0>" TIG;
PIN "BUTTONS<2>_pins<0>" TIG;
PIN "BUTTONS<1>_pins<0>" TIG;
PIN "BUTTONS<0>_pins<0>" TIG;
PIN "SW0_pins<0>" TIG;
PIN "SW15_pins<0>" TIG;
SCHEMATIC END;

